# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
target
dist
dist-ssr
*.local

# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.md
target/classes/jdbc.properties
target/classes/com/Main/web/UserController.class
target/classes/com/Main/service/UserService.class
target/classes/com/Main/RowMapper/UserRowMapper.class
target/classes/com/Main/Interceptor/LoggerInterceptor.class
target/classes/com/Main/Filter/MethodFilter.class
target/classes/com/Main/entity/User.class
target/classes/com/Main/DataBaseTest.class
target/classes/com/Main/AppConfig.class
target/classes/com/Main/AppConfig$2.class
target/classes/com/Main/AppConfig$1.class
target/classes/com/Main/AppConfig$1.class
target/classes/com/Main/AppConfig$2.class
target/classes/com/Main/AppConfig.class
target/classes/com/Main/DataBaseTest.class
target/classes/com/Main/entity/User.class
target/classes/com/Main/Filter/MethodFilter.class
target/classes/com/Main/Interceptor/LoggerInterceptor.class
target/classes/com/Main/RowMapper/UserRowMapper.class
target/classes/com/Main/service/UserService.class
target/classes/com/Main/web/UserController.class
target/classes/jdbc.properties
target/classes/jdbc.properties
target/classes/jdbc.properties
